.profile {
  border-radius: 50%;
}
.myline {
  border-top-style: solid;
  border-width: 2px;
  border-color: black;
}
.mybg {
  background-color: #fff8e1;
}
.fontH {
  font-family: 'Chonburi', cursive;
}
.fontP {
  font-family: 'KoHo', sans-serif;
}

* {
  box-sizing: border-box;
}



